@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
    if('@TempData["Message"]' !=null){
       if('@TempData["Message"]' == "Added") {
          toastr.success('Added Successfully');
       }
       else if('@TempData["Message"]'=='Deleted'){
          toastr.error('Deleted Successfully');
       }
       else if('@TempData["Message"]'=='Updated'){
          toastr.info('Updated  Successfully');
       }
       else if('@TempData["Message"]'=='NotExists'){
          toastr.error('Record doesnot exists');
       }
    }
    });

</script>

<h1>Categories</h1>
<div class=col-2>
    <a class="bi bi-plus-circle btn btn-primary" asp-controller="category" asp-action="create">Add Category</a>
</div>
</div>
@if (ViewBag.NoData != null)
{
    <div class=container><h1>@ViewBag.NoData</h1></div>
}
else
{
    <div class="container">

        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model=>model.Name)</th>
                    <th>@Html.DisplayNameFor(model=>model.DisplayOrder)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            @foreach (Category item in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem=>item.Name)</td>
                    <td> @Html.DisplayFor(modelItem=>item.DisplayOrder)</td>
                    <td>
                        <a class="bi bi-pencil-square btn btn-primary" asp-controller="Category" asp-action="Edit" asp-route-id=@item.CategoryId></a>
                        <a class="bi bi-trash btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id=@item.CategoryId></a>
                    </td>
                </tr>
            }
        </table>
    </div>
}